@media screen and (max-width: 768px) {

body {
    background: white;
}

menu {
    display: flex;
    background: linear-gradient(to right, white, rgb(222, 218, 218));
}

#logoimg {
    width: 25%;
}

nav {
    display: flex;
    gap: 20px;
    margin-top: 7%;
    margin-left: 10%;
}

nav img {
    width: 30px;
}

#userProfile {
    margin-top: -2%;
    border: solid black;
    height: 1em;
    width: 1em;
    padding: 3px;
    border-radius: 30px;
    font-size: 40px;
    text-align: center;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid black;
    padding: 5px;
    border-radius: 30px;
    z-index: 9999;
    width: 70%;
    margin: 0 auto 0 auto;
}

.cadastro input {
    border-radius: 40px;
    width: 80%;
    margin: 0 auto 0 auto;
}

main {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 9998;
}


#btnCriaNota {
    position: absolute;
    text-align: center;
    border-radius: 40px;
    top: 85%;
    left: 73%;
    width: 20%;
    background: transparent;
    border: transparent;
}

#btnCriaNota img{
    width: 100%;
}

#btnCriaNotaVolta {
    position: absolute;
    width: 20%;
    text-align: center;
    border-radius: 40px;
    background: transparent;
    top: 85%;
    left: 73%;
    border: transparent;
}
#btnCriaNotaVolta img {
    width: 100%;
}

#input {
    font-size: 20px;
    width: 80%;
}

#notasCriadas {
    border: solid black;
    background: rgb(227, 199, 146);

}

#notasCriadas p {
    text-decoration: underline 2px;
}


}

