@media screen and (max-width: 768px) {

body {
    background: #f5f5f5;
}

menu {
    display: flex;
    background: #f5f5f5;
    border: solid black;
    border-radius: 30px;
}

#logoimg {
width: 35%;
margin-left: -10%;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 8%;
}

nav img {
    width: 55%;
}

#userProfile {
    margin-right: 10%;
    border: solid black;
    border-radius: 40px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.firstLetter {
font-size: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.digitarNota {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    border: solid black;
    padding: 30px;
    border-radius: 40px;

}

#tituloNota {
   width: 90%;
   height: 3em;
   border: solid black;
   border-radius: 40px;
   text-align: center;
   font-size: 15px;
}

#tituloNota::placeholder {
    text-align: center;
}

#input {
    border: solid black;
    border-radius: 20px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: 20px;
}

#input::placeholder {
    text-align: center;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid black;
    padding: 5px;
    border-radius: 30px;
    z-index: 9999;
    width: 70%;
    margin: 0 auto 0 auto;
}

.cadastro input {
    border-radius: 40px;
    width: 80%;
    margin: 0 auto 0 auto;
}

main {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 9998;
}


#btnCriaNota {
    position: absolute;
    text-align: center;
    border-radius: 40px;
    top: 85%;
    left: 73%;
    width: 20%;
    background: transparent;
    border: transparent;
}

#btnCriaNota img{
    width: 100%;
}

#btnCriaNotaVolta {
    position: absolute;
    width: 20%;
    text-align: center;
    border-radius: 40px;
    background: transparent;
    top: 85%;
    left: 73%;
    border: transparent;
}
#btnCriaNotaVolta img {
    width: 100%;
}

#input {
    font-size: 20px;
    width: 80%;
}

#notasCriadas {
    border: solid black;
    background: rgb(227, 199, 146);

}

#notasCriadas p {
    text-decoration: underline 2px;
}


}

